body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: white;
}

.page-header{
    font-weight: normal;
    font-size: 64px!important;
    line-height: 72px!important;
    padding: 10px 0px;
    text-align: center;
}

@media (max-width: 576px){
    .page-header{
        font-size: 48px!important;
        line-height: 64px!important
    }
}